body {
  margin: 0;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Para modificar posición y tamaño boton veterinaria UCM */
/*Si se consigue ajustar desde html la posición de los botones dentro de un mismo 
 se podría usar esta opción para esta imagen y que se adapte al tamaño de los botones*/
 
.img-container1 {
  width: 100%; 
  right: 0px;
}

/* Para modificar posición y tamaño Escudo UCM */
.img-container2 {
  position: absolute;
  bottom: 22px;
  left: 22px;
  width: 122px;
}

/* Para modificar posición y tamaño Creative Commons */
.img-container3 {
  position: absolute;
  bottom: 12px;
  right: 10px;
  width: 122px;
}

/*Tapete botones Sketchfab*/
.fill{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #333333;
  height: 50px;
  width: 200px;
}

/* Para elegir opacidad de las imagenes de los logos */
img {
  width: 100%;
  opacity: 0.8;
}

/* Para elegir cómo se ven las etiquetas de los nombres*/
label {
  color: black;
  background-color: white;
  padding: 4px;
  font-family: Verdana;
  font-size: 30px;
  font-weight: bold;
}

/* Images style */
.images {
  margin: 50px 5px;
  left: 0;
  top:   0;
  width: 400px;
  z-index: 1;
  position: absolute;
}

.material-symbols-outlined{
  font-size: 35px;
}

/* Button style, Para cambiar el estilo de los botones */
.buttons {
  margin: 40px 5px;
  right: 0;
  top: 44px;
  width: 210px;
  opacity: 0.8;
  z-index: 1;
  position: absolute;
}

button {
  height: 50px;
  line-height: 21px;
  text-transform: capitalize;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  margin-top: 2px;
  background: #1caad9;
}

button:active {
  opacity: 1;
  font-weight: bold;
}

button.toggle-active {
  background-color: #df9a4b;
  color: white;
}

.symbols{
  background: #df9a4b;
  width: 100%;
}

#keyC {
  background: #888888;
}

#keyE2, #keyF2, #keyH {
  background: #92D050;
}

/*Esto determina cómo se ve el contador de posición*/
#keyI {
  width: 32%; 
  color: black; 
  background: white; 
  font-size: 25px; 
  font-weight: bold;
}

#keyR {
  width: 32%;
  display: block;
  margin: 4px auto 0 auto;
}


/*Esto determina cómo se ve la foto de endoscopia cuando está visible*/
#image2 {
  width: 700px;
}

/*Esto hace que cuando pasa el raton por encima se ilumine levemente el botón*/
button:hover {
  opacity: 1;
}

button:active {
  font-weight: bold;
}

.speedControls {
  margin-top: 10px;
  color: white;
  font-size: 16px;
}

/*Esto modifica tamaño del slider*/
#speedSlider {
  width: 200px;
}

.buttons div {
  display: flex;
}
.buttons div button {
  width: 33%;
  margin-right: 4px;
}

